<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
    <h1>COVID-19 PREDICTION BASED ON SYMPTOMS</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
       <label for="fever">FEVER</label>
         <select id="fever" name="fever" placeholder="Select the category" required="required" class="custom-select custom-select-lg mb-3">
           <option selected>Select a category</option>
           <option value="98">Below 98F</option>
           <option value="99">98 - 100 F</option>
           <option value="102">101-103F</option>
           <option value="104">Above 104F</option>
         </select><br>
       <label for="age">AGE</label>
         <select id="age" name="age" placeholder="Age" required="required" class="custom-select custom-select-lg mb-3">
           <option selected>Select your Age Range</option>
           <option value="10">Below 20</option>
           <option value="25">21-30</option>
           <option value="35">31-40</option>
           <option value="45">41-50</option>
           <option value="55">51-60</option>
           <option value="65">61-70</option>
           <option value="85">Above 70</option>
          </select><br>
      <lable for="bodypain">Bodypain</label>         
          <select id="bodypain" name="bodypain" placeholder="Bodypain" required="required" class="custom-select custom-select-lg mb-3">
            <option selected>Select a Bodypain Category</option>
            <option value="0">No Bodypain</option>
            <option value="1">Mild Bodypain</option>
            <option value="2">Severe Bodypain</option>
          </select><br>
      <lable for="cold">Cold</label>         
          <select id="cold" name="cold" placeholder="Cold" required="required" class="custom-select custom-select-lg mb-3">
            <option selected>Select a Category</option>
            <option value="0">No</option>
            <option value="1">Mild</option>
            <option value="2">Severe</option>
          </select><br>
      <lable for="breath">Breath</label>         
          <select id="breath" name="breath" placeholder="Breath" required="required" class="custom-select custom-select-lg mb-3">
            <option selected>Select a Category</option>
            <option value="0">No</option>
            <option value="1">Mild</option>
            <option value="2">Severe</option>
          </select><br>
      <lable for="cough">Cough</label>         
          <select id="cough" name="cough" placeholder="Cough" required="required" class="custom-select custom-select-lg mb-3">
            <option selected>Select a Category</option>
            <option value="0">No</option>
            <option value="1">Mild</option>
            <option value="2">Severe</option>
          </select><br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
